// GLOBAL
@import url(./_responsive.css);

html {
    background-color: #fff;
    font-family: "Lato", "Arial", sans-serif;

    h1,
    h2,
    h3,
    h4 {
        text-transform: uppercase;
        letter-spacing: -1px;
        font-weight: 300;
        word-spacing: 8px;
    }

    h1 {
        color: #eee;
    }

    h2 {
        color: #333333;
        font-size: 250%;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    h2:after {
        display: block;
        height: 2px;
        background-color: #05cdfe;
        width: 100px;
        content: " ";
        margin: 0 auto;
        margin-top: 10px;
    }

    h3 {
        font-size: 160%;
    }

    p {
        font-size: 12px;
        font-weight: 300;
        line-height: 24px;
    }

    section {
        padding: 30px 0 60px 0;
    }


    // HEADER
    header {
        background-image: linear-gradient(rgba(0, 242, 96, 0.4),
                rgba(7, 117, 230, 0.3)),
            url(../images/header.jpg);
        height: 100vh;
        background-position: center;
        background-size: cover;

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: white;
            height: 50px;
            z-index: 1;

            ul {
                display: flex;
                flex-direction: row;

                li {
                    list-style-type: none;
                    padding: 15px;
                }
            }

            a {
                color: white;
                text-decoration: none;
            }

            #zanzibar {
                font-family: "warnesregular";
                font-size: 30px;
                margin-left: 1.3em;
            }
        }

        .fixed-top {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            background-color: #000 !important;
        }

        // CONTAINER
        .home-title {
            position: absolute;
            top: 30%;
            left: 12.3em;
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 340%;
                color: #fff;

                span {
                    font-weight: 700;
                }
            }

            p {
                color: #fff;
            }

            .btn {
                display: inline-flex;
                text-decoration: none;
                border-radius: 10px;
                transition: background-color 1s, color 1s, border 1s;
                margin-bottom: 20px;
            }

            .btn {
                display: inline-block;
                padding: 10px 30px;
                text-decoration: none;
                border-radius: 10px;
                transition: background-color 1s, color 1s, border 1s;
            }

            .btn-full {
                background-color: azure;
                color: #04a8d1;
                margin-right: 15px;
            }

            .btn-ghost {
                border: 1px solid #fff;
                color: #fff;
            }

            .btn-full:hover {
                background-color: #04a8d1;
                color: #fff;
            }

            .btn-ghost:hover {
                background-color: #04a8d1;
                border: 1px solid #5ee077;
                color: #fff;
            }
        }
    }

    // WHO ARE WE
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 160px;

        #contenu-qui {
            display: flex;
            flex-direction: row;

            #qui-singe {
                max-width: 40%;
            }

            #qui-texts {
                max-width: 40%;

                .qui-texts-plus {
                    margin: 20px 0;
                    display: flex;

                    .qui-texts-icon {
                        font-size: 34px;
                        color: #da2c13;
                        transition: all 1s;
                    }

                }


            }
        }
    }

    // OUR ISLAND
    #notre-ile {
        background-color: #0ce0f5;

        .container {
            .notre-ile-lieux {
                display: flex;
                flex-flow: row wrap;

                .notre-ile-lieu {
                    max-width: 30.333333%;
                    padding: 0 15px;

                    .lieu-details {
                        background-color: #fff;
                        padding: 30px 30px;
                        border-radius: 10px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                        margin-bottom: 20px;

                        img {
                            display: block;
                            margin: 0 auto;
                            width: 90%;
                        }

                        h4 {
                            text-align: center;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }

    // GALLERY
    #photos {
        .container {
            .photos-lignes {
                display: flex;
                padding: 0 15px;

                #photos-ligne1-gauche {
                    width: 34%;
                    padding-right: 15px;
                    padding-left: 15px;
                }

                #photos-ligne1-droite {
                    width: 66%;
                    padding-right: 15px;
                    padding-left: 15px;
                }

                #photos-ligne2-gauche {
                    width: 41%;
                    padding-right: 15px;
                    padding-left: 15px;
                }

                #photos-ligne2-milieu {
                    width: 25%;
                    padding-right: 15px;
                    padding-left: 15px;
                }

                #photos-ligne2-droite {
                    width: 34%;
                    padding-right: 15px;
                    padding-left: 15px;
                }

                .galeries-img {
                    background-size: cover;
                    background-position: top center;
                    background-repeat: no-repeat;
                    height: 300px;
                    border-radius: 10px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                    margin-bottom: 30px;

                    .galeries-titre {
                        position: relative;
                        text-align: center;
                        top: 20px;
                        left: 30px;
                        width: 50%;

                        h4 {
                            color: #fff;
                            font-weight: bold;
                            background-color: #0ce0f5;
                            padding: 5px;
                        }
                    }
                }
            }
        }

    }

    // COMMENTS
    .clients {
        background-image: linear-gradient(rgba(0, 242, 96, 0.4),
                rgba(7, 117, 230, 0.3)),
            url(../images/the-paysage.jpg);
        background-size: cover;
        background-attachment: fixed;

        h2 {
            color: #fff;
        }

        h2:after {
            background-color: #fff;
        }

        .container {
            .temoignages {
                display: flex;
                padding: 0 15px;

                .temoignages-clients {
                    width: 33.3333%;
                    padding: 0 15px;

                    blockquote {
                        padding: 5px;
                        font-style: italic;
                        line-height: 130%;
                        color: #fff;

                        cite {
                            font-size: 90%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-top: 20px;

                            img {
                                height: 50px;
                                border-radius: 50%;
                                margin-right: 10px;
                            }
                        }
                    }

                    blockquote:before {
                        content: "\201C";
                        font-size: 800%;
                        font-family: "Sanchez", serif;
                        position: relative;
                        top: 72px;
                        left: -13px;
                        color: rgba(255, 255, 255, 0.6);
                    }
                }
            }
        }
    }

    // SEJOURS
    #sejour {
        .container {
            .sejours {
                display: flex;
                margin-right: -15px;
                margin-left: -15px;

                .temoignages-clients {
                    .sejour {
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                        border-radius: 10px;
                        margin-bottom: 20px;

                        h3 {
                            color: black;
                            font-weight: 400;
                        }

                        h4 {
                            font-size: 200%;
                            font-weight: 100;
                        }

                        span {
                            font-weight: 100;
                            font-size: 40%;
                            position: relative;
                            top: -15px;
                            left: 2px;
                        }

                        .sejour-title {
                            padding: 10px 10px 0 10px;
                            border-bottom: 1px solid #e3e0e0;
                        }

                        .sejour-content {
                            ul {
                                list-style: none;
                                padding: 20px;
                                font-weight: 300;
                                line-height: 35px;

                                li {
                                    i {
                                        font-size: 90%;
                                        margin-right: 10px;
                                      }
                                }
                            }
                        }

                        .sejour-signup {
                            text-align: center;

                            .btn-sejour {
                                background-color: #04a8d1;
                                color: #fff;
                                margin-bottom: 20px;
                              }
                          }

                          .sejour-signup:hover .btn-sejour {
                            background-color: #05cdfe;
                            color: #fff;
                          }
                    }

                    .sejour-premium {
                        background-color: #0ce0f5;
                        color: #fff;

                        .sejour-title-premium {
                            font-size: 14px;
                            text-align: center;
                            font-weight: 400;
                            position: absolute;
                            top: 10px;
                            right: 30px;
                            background-color: #fff;
                            color: green;
                            border-radius: 10px;
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }

    // CONTACT
#contact {
    .container {
        .contact-infos {
            display: flex;
            margin-right: -15px;
            margin-left: -15px;

            .contact-largeur{
                .champs {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 10px;

                    .contact-form {
                        width: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;

                        textarea {
                            resize: none;
                          }
                    }

                    .contact-form1 {
                        display: flex;
                        padding-left: 15px;
                        margin-bottom: 30px;
                      }

                      .contact-form2 {
                        padding-left: 15px;
                        margin-bottom: 30px;
                      }

                    .adress {
                        margin-left: 90px;
                      }

                      .contact-message {
                        width: 100%;
                        margin-top: 10px;
                      }

                      .btn-contact {
                        background-color: #04a8d1;
                        color: #fff;
                        margin: 15px;
                        border: none;
                      }
                  }
            }

            .carte {
                width: 50%;
                padding-right: 15px;
                padding-left: 15px;
              }
          }
    }
}

// FOOTER

footer {
    background-color: #000;
    color: #fff;
    height: 60px;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
  }
}